#black-layer {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  inset: 0;
  z-index: 100;
  opacity: 0.7;
  display: none;
}

#black-layer.active {
  display: block;
}

#form_pop-up {
  position: fixed;
  width: 500px;
  height: 300px;
  top: 25%;
  left: 50%;
  margin-top: -120px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index: 101;
  display: none;
}

#form_pop-up.active {
  display: block;
}

#form_pop-up .wrapper-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#form_pop-up .wrapper {
  overflow: hidden;
  position: relative;
  max-width: 25rem;
  background: #fff;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
}

#form_pop-up .wrapper .title-text {
  display: flex;
  width: 210%;
}

#form_pop-up .close-button {
  width: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#form_pop-up .wrapper .title {
  width: 50%;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s;
}

#form_pop-up .wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 3.3rem;
  width: 100%;
  overflow: hidden;
  margin: 2rem 0 0.8rem 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#form_pop-up .slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s;
}

#form_pop-up .slide-controls label.signup {
  color: #000;
}

#form_pop-up .slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(46, 170, 250, 0.9) 0%,
    rgba(140, 4, 219, 0.7) 100%
  );
  transition: all 0.3s;
}

#form_pop-up input[type="radio"] {
  display: none;
}

#form_pop-up #signup:checked ~ .slider-tab {
  left: 50%;
}

#form_pop-up #signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

#form_pop-up #signup:checked ~ label.login {
  color: #000;
}

#form_pop-up #login:checked ~ label.signup {
  color: #000;
}

#form_pop-up #login:checked ~ label.login {
  cursor: default;
  user-select: none;
}

#form_pop-up .wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

#form_pop-up .form-container .form-inner {
  display: flex;
  width: 200%;
}

#form_pop-up .form-container .form-inner form {
  width: 50%;
  transition: all 0.2s ease;
}

#form_pop-up .form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

#form_pop-up .form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

#form_pop-up .form-inner form .field input:focus {
  border-color: #fa4299;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

#form_pop-up .form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

#form_pop-up form .field input:focus::placeholder {
  color: #b3b3b3;
}

#form_pop-up .form-inner form .pass-link {
  margin-top: 2rem;
}

#form_pop-up .form-inner form .signup-link {
  text-align: center;
  margin-top: 2rem;
}

#form_pop-up .form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #fa4299;
  text-decoration: none;
}

#form_pop-up .form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

#form_pop-up form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

#form_pop-up form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: linear-gradient(
    90deg,
    rgba(46, 170, 250, 0.9) 0%,
    rgba(140, 4, 219, 0.7) 100%
  );
  border-radius: 5px;
  transition: all 0.3s ease;
}

#form_pop-up form .btn:hover .btn-layer {
  left: 0;
}

#form_pop-up form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
